//FONT WEIGHTS 
$light: 100;
$regular: 400;
$bold:600;


//FONT COLORS
$default-color:#777;
$white-color:white;
$black-color:black;
$transparent-black-color: rgba(0,0,0, .7);



$color2: rgb(238, 238, 238);
$color3: rgb(255, 255, 255);
$color4: #2eb267;
$color5: #75890c;
$color6: #1a1a1a;
$color8: #ed5565;
$color9: #2E2E2E;
$color10: #212121;
$color11: #222;
$color12:rgb(65, 70, 86);

//ANCHOR 
$anchor-text-decoration:none;







